<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace = "layouts :: header"></head>


<body>

<nav th:replace = "layouts :: navbar"></nav>

	<div class = "container" style= "padding-top:30px">
		<h3>Employees Directory</h3>
		<hr>
			<a th:href="@{/employee/new}"
				class="btn btn-primary btn-sm mb-3"> 
				Add employees
			</a>		
			<table class="table table-bordered table-striped">
			<thead class="thead-dark">
				<tr>
				 	<th>First Name</th>
				 	<th>Last Name</th>
				 	<th>Email</th>
				 	
				</tr>
			</thead>
			
			<tbody>
				<tr th:each = "aEmployee : ${employees}">
					<td th:text = "${aEmployee.firstName}"></td>
					<td th:text = "${aEmployee.lastName}"></td>
					<td th:text = "${aEmployee.email}"></td>
				</tr>
			</tbody>
			
		</table>
	</div> 
	
</body>


</html>